{% extends 'base.html' %}

{%block h1%}
Quelques astuces :
{% endblock %}

{%block h2%}

Sinus
<br>
<br>
<img>
<img src="/static/css/explicationsinus.jpg" height="300" width="600">
<br>
<br>
Mutiplication
<br>
<br>
<img>
<img src="/static/css/multiplication1.jpg" height="300" width="200">
<br>
<img>
<img src="/static/css/mutiplication2.jpg" height="150" width="250">
<br>
<br>
Règle des 1/60 e
<br>
<br>
<img>
<img src="/static/css/regle160.jpg" height="100" width="600">
<br>
<br>
Conversions
<br>
<br>
<img>
<img src="/static/css/conversion.jpg" height="600" width="600">
<br>
<br>
<a href="/training">Retour à l'accueil entrainement</a>

{%endblock%}