{% extends 'base.html' %}

{%block h1%}
    Acceuil entraînement
{%endblock%}

{%block a%}
<!--Typiquement on peut faire une boucle for ici-->
<a href="/training/1">Question 1 : "(01) Convert between volumes and masses of fuel using range of units."</a>
<br>
<a href="/training/2">Question 2 : "(01) Convert between volumes and masses of fuel using range of units."</a>
<br>
<a href="/training/3">Question 3 : "(02) Estimate time, distance and speed."</a>
<br>
<a href="/training/4">Question 4 : "(02) Estimate time, distance and speed." </a>
<br>
<a href="/training/5">Question 5 : "(03) Estimate the rate of climb or rate of descent, distance and time." </a>
<br>
<a href="/training/6">Question 6 : "(03) Estimate the rate of climb or rate of descent, distance and time." </a>
<br>
<a href="/training/7">Question 7 : "(04) Add or subtract time, distance, and fuel mass." </a>
<br>
<a href="/training/8">Question 8 : "(04) Add or subtract time, distance, and fuel mass." </a>
<br>
<a href="/training/9">Question 9 : "(05) Calculate fuel burn given time and fuel flow." </a>
<br>
<a href="/training/10">Question 10 : "(05) Calculate fuel burn given time and fuel flow." </a>
<br>
<a href="/training/11">Question 11 : "(06) Calculate the time available (for decision-making) given relevant fuel information." </a>
<br>
<a href="/training/12">Question 12 : "(06) Calculate the time available (for decision-making) given relevant fuel information." </a>
<br>
<a href="/training/13">Question 13 : "(07) Determine the top of descent using a simple method." </a>
<br>
<a href="/training/14">Question 14 : "(07) Determine the top of descent using a simple method." </a>
<br>
<a href="/training/15">Question 15 : "(08) Determine the values that vary by a percentage, e.g. dry-to-wet landing distance and fuel burn." </a>
<br>
<a href="/training/16">Question 16 : "(08) Determine the values that vary by a percentage, e.g. dry-to-wet landing distance and fuel burn." </a>
<br>
<a href="/training/17">Question 17 : "(09) Estimate heights at distances on a 3-degree glide slope." </a>
<br>
<a href="/training/18">Question 18 : "(09) Estimate heights at distances on a 3-degree glide slope." </a>
<br>
<a href="/training/19">Question 19 : "(10) Estimate headings using the 1-in-60 rule." </a>
<br>
<a href="/training/20">Question 20 : "(10) Estimate headings using the 1-in-60 rule." </a>
<br>
<a href="/training/21">Question 21 : "(11) Estimate headwind and crosswind components given wind speed and direction and runway in use" </a>
<br>
<a href="/training/22">Question 22 : "(11) Estimate headwind and crosswind components given wind speed and direction and runway in use" </a>
<br>
<a href="/training/23">Question 23 : Conversion distance </a>
<br>
<a href="/training/24">Question 24 : Conversion distance </a>
<br> <br>
<a href="/login">Retour à l'accueil</a>

{%endblock%}